body {
  font-family: 'Lato', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/batman.jpg);
  text-overflow: inherit;
}

h1 {
  font-family: 'Courgette', cursive;
}

p {
  font-family: 'Courgette', cursive;
}

#header {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px;
  margin: 0px;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 20px 20px;
  border-bottom: 1px solid #001f75;
  box-shadow: 0px 0px 30px #ccc;
}

.what {
  height: 450px;
}

.score {
  font-size: 40px;
}

.btn {
  background-color: blue;
  font-size: 18px;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
}

.jumbotron {
  background-color:rgb(255, 255, 255);
  background-image: url(../images/dice.jpg);
}

h3 {
  font-size: 30px;
  font-family: 'Nosifer', cursive;
  text-align: center;
}

#start {
  border-top: none;
  border: none;
  border-radius: 10px;
  padding: 17px;
  color: purple;
  font-size: 30px;
}

#start:hover {
  background-color: grey;
  border: 1px solid black;
}

.panel {
  background-color: white;
}

button {
  background-color: black;
}
